
  .custom-tabs {
    display: flex;
    justify-content: center;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 0;
  }

  .custom-tab {
    flex: 1;
    list-style: none;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .custom-tab.active {
    background-color: #fff;

    border: none;
  }

  .custom-tab-link {
    text-decoration: none;
    color: grey;
    font-weight: bold;
    transition: color 0.3s ease;
  }

  .custom-tab.active .custom-tab-link {
    color: #007bff;
    border: none;
  }

  .tab-content {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    border: none; /* Remove the border */
    /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);  */
  }
  .card {
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
    background-color: #fff;
    border: none; /* Remove the border */
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  }
  .embed-responsive-item {
    width: 700px;
    height: 315px;
  }

  .team{
    padding: 10px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #fff;
    margin-top: 20px;
  }
  .team .member {
    position: relative;
   margin-top: 10px;
  }
  .team .member .teampic {
    overflow: hidden;
    width: 110%;
    border-radius: 50%;
  }
  .team .member .member-info {
    padding-left: 30px;
  }
  .team .member h4 {
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: tomato;
  }
  .team .member span {
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
  }
  .team .member span::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: black;
    bottom: 0;
    left: 0;
  }
  .team .member p {
    margin: 10px 0 0 0;
    font-size: 14px;
  }
  .team .member .social {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .team .member .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #eff2f8;
  }
  .team .member .social a i {
    color: tomato;
    font-size: 16px;
    margin: 0 2px;
  }
  .team .member .social a:hover {
    background: tomato;
  }
  .team .member .social a:hover i {
    color: white;
  }
  .team .member .social a + a {
    margin-left: 8px;
  }

  /* section {
    padding: 20px 0;
    overflow: hidden;
  } */
  @media (max-width: 992px) {
    .embed-responsive-16by9 {
      width: 100%;
      padding-bottom: 56.25%; /* 16:9 aspect ratio */
      position: relative;
      overflow: hidden;
    }

    .embed-responsive-item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    /* .card .row div {
      font-size: 13px;
    } */
  }